@using FormsLibrary.Models;
<EditForm Model="Question">
    <MudContainer Class="d-flex flex-column pa-2 gap-2" Style="@($"background-color: {Colors.Grey.Darken2};")">
        @switch (Question.QuestionOption)
        {
            case QuestionOptions.Kort:

                <MudTextField Placeholder="Kort svar..."
                      @bind-Value="shortAnswer"
                      Class="px-2"
                      Style="@($"color: {Colors.Grey.Lighten4};")"
                      Variant="Variant.Filled"
                      Clearable="true" />

                break;
            case QuestionOptions.Lång:
                <MudTextField Placeholder="Långt svar..."
                      @bind-Value="longAnswer"
                      Class="px-2"
                      Style="@($" color: {Colors.Grey.Lighten4};")"
                      Variant="Variant.Filled"
                      Clearable="true" />

                break;
            case QuestionOptions.Flerval:
                @for (var i = 0; i < multipleChoiceAlternatives.Count; i++)
                {
                    var index = i;
                    <MudTextField Placeholder="Alternativ..."
                      @bind-Value="multipleChoiceAlternatives[i]"
                      Class="px-2"
                      Style="@($" color: {Colors.Grey.Lighten4};")"
                      Variant="Variant.Filled"
                      Clearable="true" />
                }
                <MudTooltip Arrow="true" Placement="Placement.Right">
                    <MudButton Variant="Variant.Filled" OnClick="@AddMultipleChoice" Color="Color.Warning">Lägg till alternativ</MudButton>
                </MudTooltip>

                break;
            case QuestionOptions.Enkelval:
                @for (var i = 0; i < singleChoiceAlternatives.Count; i++)
                {
                    var index = i;
                    <MudTextField Placeholder="Alternativ..."
                      @bind-Value="singleChoiceAlternatives[index]"
                      Class="px-2"
                      Style="@($" color: {Colors.Grey.Lighten4};")"
                      Variant="Variant.Filled"
                      Clearable="true" />
                }

                <MudTooltip Arrow="true" Placement="Placement.Right">
                    <MudButton Variant="Variant.Filled" OnClick="@AddSingleChoice" Color="Color.Warning">Lägg till alternativ</MudButton>
                </MudTooltip>

                break;
            case QuestionOptions.Dropdown:
                @for (var i = 0; i < dropdownChoiceAlternatives.Count; i++)
                {
                    var index = i;
                    <MudTextField Placeholder="Alternativ..."
                      @bind-Value="dropdownChoiceAlternatives[index]"
                      Class="px-2"
                      Style="@($" color: {Colors.Grey.Lighten4};")"
                      Variant="Variant.Filled"
                      Clearable="true" />
                }
                <MudTooltip Arrow="true" Placement="Placement.Right">
                    <MudButton Variant="Variant.Filled" OnClick="@AddDropdownChoice" Color="Color.Warning">Lägg till alternativ</MudButton>
                </MudTooltip>

                break;
            case QuestionOptions.Datum:
                <MudDatePicker Editable="true"
                       Placeholder="Datum..."
                       @bind-Value="date"
                       ShowWeekNumbers="true"
                       DisplayMonths="2"
                       PickerVariant="PickerVariant.Dialog"
                       Color="Color.Warning"
                       Class="px-2"
                       Variant="Variant.Filled"
                       Clearable="true" />
                break;
            case QuestionOptions.Tidsintervall:
                <MudDateRangePicker Editable="true"
                            Placeholder="Tidsintervall..."
                            @bind-DateRange="dateRange"
                            ShowWeekNumbers="true"
                            PickerVariant="PickerVariant.Dialog"
                            Color="Color.Warning"
                            Class="px-2"
                            Variant="Variant.Filled"
                            Clearable="true" />
                break;
            case QuestionOptions.Tid:
                <MudTimePicker Placeholder="Tid..."
                       @bind-Time="timeSpan"
                       Editable="true"
                       PickerVariant="PickerVariant.Dialog"
                       Color="Color.Warning"
                       Class="px-2"
                       Variant="Variant.Filled"
                       Clearable="true" />
                break;
            case QuestionOptions.Skala:
                <MudContainer Class="text-white">
                    <MudContainer Class="d-flex align-center gap-2" Style="@($"background-color: {Colors.Grey.Darken2};")">
                        <MudSelect @bind-Value="scaleLow" Variant="Variant.Filled">
                            <MudSelectItem Value="@(0)" />
                            <MudSelectItem Value="@(1)" />
                        </MudSelect>
                        <span>till</span>
                        <MudSelect @bind-Value="scaleHigh" Variant="Variant.Filled">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <MudSelectItem Value="i" />
                            }
                        </MudSelect>
                    </MudContainer>

                    <MudContainer Class="d-flex flex-column gap-2 mt-4">
                        <MudContainer Class="d-flex align-center gap-4">
                            <MudTextField Label="@($"{scaleLow.ToString()}: Etikett (Valfri)")"
                                  @bind-Value="scaleLowLabel"
                                  Variant="Variant.Filled"
                                  Clearable="true" />
                        </MudContainer>
                        <MudContainer Class="d-flex align-items-center gap-4">
                            <MudTextField Label="@($"{scaleHigh.ToString()}: Etikett (Valfri)")"
                                  @bind-Value="scaleHighLabel"
                                  Variant="Variant.Filled"
                                  Clearable="true" />
                        </MudContainer>
                    </MudContainer>
                </MudContainer>
                break;
        }
    </MudContainer>

</EditForm>

@code {
    // TODO: Fixa så att det inte går att ha dubletter i API:et
    // TODO: Fixa OI på alla input rader för att visualisera vad input ska vara
    // TODO: Fixa TimeSpan så att det hämtar in nuvarande tid som standard värde plus att den inte ska PM/AM
    // TODO: Fixa utseendemässiga av att bocka för. Ta bort blå focus indikatorn. Outline och border?
    // TODO: Fixa en obligatorisk toggle på alla svar
    // TODO: Fixa sätt att duplicera fråga, avsnitt och helt form
    // TODO: Fixa så att standard färgen är gul istället för blå vid focus states
    // TODO: Fixa checkbox knappar och radio knappar innan raderna "Alternativ"
    // TODO: Fixa lägg till knapparna
    [Parameter]
    public QuestionModel Question { get; set; } = new();


    private string? shortAnswer;
    private string? longAnswer;
    private List<string> multipleChoiceAlternatives = new();
    private List<string> singleChoiceAlternatives = new();
    private List<string> dropdownChoiceAlternatives = new();
    private DateTime? date;
    private DateRange? dateRange;
    private TimeSpan? timeSpan;
    private int scaleLow = 1;
    private int scaleHigh = 5;
    private string? scaleLowLabel;
    private string? scaleHighLabel;


    private AnswerModel Answer = new();
    private List<string> multipleChoices = new();

    private bool MultipleChoice()
    {
        return false;
    }

    private void AddMultipleChoice()
    {
        string key = $"Alternativ {multipleChoiceAlternatives.Count + 1}";
        multipleChoiceAlternatives.Add(key);
    }

    private void AddSingleChoice()
    {
        string key = $"Alternativ {singleChoiceAlternatives.Count + 1}";
        singleChoiceAlternatives.Add(key);
    }

    private void AddDropdownChoice()
    {
        string key = $"Alternativ {dropdownChoiceAlternatives.Count + 1}";
        dropdownChoiceAlternatives.Add(key);
    }
}
